* {
    font-family: "M PLUS Rounded 1c", sans-serif;
    text-align: justify;
    padding: 0px;
    margin: 0px;
    color: #f8f9fc;
}
.top_display{
    display: flex;
    align-items: center;
    justify-content: center;  

}

.wht {
    height: 50px;
    margin-left: 100px;
}

#formattedDate {
    margin: 0;
    
}


body {
    background-color: #292929;
    margin: 10px;
    padding: 10px;
}


.darkmode p {
    color: #292929;
}

.gif-animasi{
    text-align: center;
}


.darkmode {
    background-color: #f8f9fc;
}

.darkmode h1 {
    color: #292929 ;
}

.blackback{
    width: 65px;
    height: 58px;
    position: absolute;
    margin-top: 20px;
    margin-right: 20px;
    top: 0%;
    right: 0%;
    transform: translate(0%, 0%, 0%);
}



.toggle_box{
    position: fixed;
    right: 0;
    padding: 10px;
    transform: translateY(-50%);
    top: 80%;
}

.flex-container {
    margin-top: 10px;
    display: flex;
/*     flex-wrap: wrap; */
    height: auto;
    justify-content: center;
/*     align-items: flex-start; */
}

.flex-container .card {
    border-radius: 10px;
    width: 100%;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.darkmode .flex-container .card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.gif{
    width: 250px;
}

@media screen and (max-width: 1000px) {
    * {
        font-family: "M PLUS Rounded 1c", sans-serif;
        text-align: justify;
        padding: 0px;
        margin: 0px;
        color: #f8f9fc;
        font-size: 12px;
    }

    .blackback{
        position: absolute;
        margin-right: 20px;
        top: 0%;
        right: 0%;
        transform: translate(0%, 0%, 0%);
        
    }

    .flex-container {
        margin-top: 10px;
        display: flex;
/*         flex-wrap: wrap; */
        height: auto;
        justify-content: center;
        align-items: flex-start;
    }
    .gif{
        width: 150px;
    }
    
    

}
